html {
    scroll-behavior: smooth;
}

.logo label {
 font-size: 50px;
 font-style: bold;
 color: white;
 padding: 10px 30px;
 font-display: auto;
}
body {
    background-image: url(pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    backface-visibility: visible;
          
}

ul {
    overflow: hidden;
    float: right;
    list-style-type: none;
    text-align: center;
}

ul li {
    display: inline;
}

ul li a {
    font-size: 30px;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    justify-content: space-between;
}

ul li a:hover {
    background-color: #111;
}

@media(max-width: 700px){
    ul li a {
        font-size: 30px;
    }
}